.score-board {
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    font-family: Lobster;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    max-width: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.restart-icon {
    width: 3rem;
    height: 3rem;
    align-self: center;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.leader-board-layout {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 400px;
    height: 180px;
    row-gap: 10px;
    position: relative;
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.leader-board-layout h4 {
    position: absolute;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.13);
    width: 100%;
    text-align: center;
}

.leader-board-layout>*:last-child {
    align-self: flex-end;
}