.leader-board {
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    font-family: Lobster;
    font-size: 1rem;
    width: 400px;
    height: 160px;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}

.leader-board h4 {
    align-self: center;
    font-size: 1.4em;
}

.leader-board ol {
    margin-left: 20px;
    font-family: monospace;
}