.progressBar {
    width: calc(100% - 10px);
    background-color: var(--white-accent);
    height: 3px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.indicator {
    height: inherit;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--green);
    transition: 0.1s linear;
}

.blob {
    width: 12px;
    height: 12px;
    background-color: var(--green);
    border-radius: 6px;
}