.dialogContainer {
    width: 70%;
    height: 200px;
    position: absolute;
    background-color: var(--dialog-bg);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    justify-content: space-between;
    overflow: hidden;
}

.closeBtn {
    padding: 5px;
    border-radius: 3px;
    color: var(--white);
    background-color: red;
    align-self: flex-end;
    margin-top: auto;
    cursor: pointer;
    text-align: center;
}

.dialogContainer h5 {
    padding: 3px;
    text-align: center;
    font-size: 1.2em;
    background-color: var(--green);
}

.dialogContainer .body {
    flex-grow: 1;
    padding: 5px;
}