@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --pry-clr: hsla(158, 67, 85, 13%);
  --dark-clr: hsl(248, 29, 16);
  --transparent-clr: hsla(0, 0, 100, 13%);

  /* font */
  --pry-font: "Roboto", sans-serif;
  --secondary-font: "Lobster", cursive;
}

body {
  background-color: var(--pry-clr);
  font-family: var(--pry-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.game-start {
  background-color: rgb(32, 29, 53);
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  border-radius: 4px;
}

.btn {
  display: flex;
  gap: 5rem;
  margin: 1rem;
}

.time-bar {
  background-color: rgba(255, 255, 255, 0.13);
  width: 100%;
  height: 7px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.author {
  color: white;
  font-size: 0.85rem;
  letter-spacing: 1px;
  padding: 4rem 0 0.5rem 0;
}
